body {
    background-color: rgb(52, 50, 54);
    color:white;
    margin: 0px
}

header {
    border-bottom: solid 2px rgb(24, 25, 27);     // borda inferior.
    padding: 20px;  // espaçamento interno
    font-size: 32px;  // tamanho da fonte
    color: rgb(42, 122, 228);
}






